<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Curl Builder</title>
  <meta name="description" content="Builds curl commands">
  <!-- scripts -->
  <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../static/js/script.js"></script>
  <!-- stylesheets -->
  <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body class="container">
  <h1 class="well">Curl Builder</h1>
  <h3>Headers</h3>

</body>
</html>
